body, header, table, tr, th, h1, h2, h3, div, ul, li, p, a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 100%;
  background: #f9eddf;
}
h1 {
  font-weight: bold;
  font-size: 3.2rem;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  padding: 1rem 0;
  color: #ffffff;
  background: #9caaaa;
}
table {
  display: block;
  padding: 0 5%;
  border-collapse: collapse;
}
.profile div p {
  font-size: 1.2rem;
  padding: 0.1rem 0;
}
h2 {
  text-align: left;
  font-size: 1.4rem;
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 1.1px;
  margin: 2rem 0;
}
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}
.second-third {
  text-align: right;
}
.first-h4 {
    margin-top: 0rem;
}
h4 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;    
}
tr {
  border-bottom: 4px solid #a0a0a0;
}
table tr:last-child {
  border-bottom-style: none;
}
th {
  width: 46%;
  font-weight: normal;
  padding-bottom: 1.5rem;
  vertical-align: top;
}
.hidden {
  visibility: hidden;
}
tr th:first-child {
  padding-right: 4%;
}
tr th:last-child {
  padding-left: 4%;
}
th>div {
  display: flex;
  justify-content: space-between;
}
th p {
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}
th div p:first-child {
  font-weight: bolder;
}
b {
  font-weight: 600;
}
ul {
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
}
li {
    list-style-type:none
}
.h2-skills {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.div-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.summary {
    font-size: 1.05rem;
    padding-bottom: 1.2rem;
}
a {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}